.SubLink {
  position: absolute; /* Position it absolutely relative to its parent */
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1),
              0px 5px 20px rgba(2, 112, 255, 0.7);
  z-index: 1;
  left: 50%; /* Position it 50% from the left of its parent */
  transform: translateX(-25%); /* Offset the element by 50% of its width to center it */
}

.SubLink-Hide {
  display: none;
}

.SubLink .title {
  border: none;
  font-size: 300;
  background-color: rgba(2, 112, 255, 0.6);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SubLink button, .SubLink span {
  margin: 10px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.7);
}

.SubLink button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
}

.SubLink .subContent {
  background-color: white;
  list-style: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.SubLink .link {
  display: inline-flex;
  margin-bottom: 10px;
  gap: 5px;
}
.SubLink .link:visited {
  text-decoration: none;
}

.SubLink .link:hover {
  border-bottom: 1px solid blue;
  top: 70px; 
  left: 20px;
}
